/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	.countires {
		background-size: 70%;
	}
	.ad img {
		right: 7.8611111111%;
	}
	footer .links {
		margin-left: 25%;
	}
	.start .adaptive{
		display: flex;
	}
	.start_steps .owl-carousel, .no-js .owl-carousel, .owl-carousel.owl-loaded {
		display: none;
	}
	.overlay-burger{
		display: none;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header nav ul {
		gap: 20px;
	}
	header button {
		margin: auto 0 auto 20px;
	}
	.banner .banner_text h1 {
		font-size: 48px;
	}
	.start .adaptive{
		display: flex;
	}
	.start_steps .owl-carousel, .no-js .owl-carousel, .owl-carousel.owl-loaded {
		display: none;
	}
	.start_block{
		img{
			width: 250px;
		}
	}
	.start h3 {
		font-size: 20px;
	}
	.start p {
		font-size: 13px;
	}
	.countires {
		background-size: 68%;
	}
	.faq .faq-grid {
		grid-template-columns: auto 700px;
	}
	.ad img {
		right: 0;
		height: auto;
		width: 420px;
		top: 3560px;
	}
	.start .wrapper {
		height: 600px;
	}
	.start {
		height: 600px;
	}
	.faq {
		height: 750px;
	}
	.ad {
		height: 420px;
	}
	.ad h2 {
		padding-top: 50px;
	}
	.banner .banner_calculator .calculator {
		margin-left: 56px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.wrapper {
		width: 90%;
	}
	header .header_burger-menu {
		display: block;
		background: none;
		border: none;
		width: 32px;
		height: 32px;
		position: relative;
	}
	header .header_navigation{
		display: none;
	}
	.banner .wrapper {
		height: auto;
		display: flex;
		flex-direction: column-reverse;
	}
	.banner .banner_calculator .calculator {
		width: 343.23px;
		height: 361.617px;
		margin-left: 55px;
		top: 176px;
	}
	.banner .banner_calculator {
		margin: 0;
	}
	.banner .banner_calculator {
		width: 452.3961486816406px;
		height: 472px;
		margin: 55px auto 0 auto;
		
	}
	.banner .banner_text h1 {
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		margin: 0 0 32px 0;
	}
	.banner .banner_text .launch-app {
		margin: 0 auto;
	}
	.banner .banner_text{
		display: flex;
		flex-direction: column;
	}
	.banner .banner_text .clipboard-text {
		margin: 30px auto 0 auto;
	}
	.banner .banner_calculator .calculator_top .coin2 {
		width: 102px;
		height: 92px;
		top: -11px;
		left: 0px;
	}
	.banner .banner_calculator .calculator_top .coin1 {
		width: 30px;
		height: 30px;
		top: -31px;
		left: 94px;
	}
	.banner .banner_calculator .calculator_top .coin3 {
		width: 72px;
		height: 77px;
		top: 351px;
		left: 375px;
	}
	.banner .banner_calculator .blue-big-circle {
		width: 417.885px;
		height: 417.885px;
	}
	.banner .banner_calculator .calcuclator_under .green-arrow {
		width: 234.659px;
		height: 214.566px;
		top: -23px;
		left: 233px;
	}
	.banner .banner_calculator .calcuclator_under .blue-arrow {
		top: 187px;
		left: -14px;
		width: 236.888px;
		height: 253.83px;
	}
	.calculator .calculator_tabs {
		margin: 26px auto 0 auto;
	}
	.calculator .convert {
		left: 80%;
		top: 62px;
	}
	.calculator .calculator_pay-data {
		width: 314.578px;
		height: 142.671px;
		margin: 10px auto 10px auto;
	}
	.calculator .pay-select-data {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.calculator .pay-select-data {
		padding-top: 20px;
		padding-bottom: 10px;
		height: 47px;
		p{
			margin-left: 15px;
		}
	}
	.calculator .send-data {
		padding-top: 20px;
		padding-bottom: 10px;
		height: 47px;
		p{
			margin-left: 15px;
		}
	}
	.calculator .note-data {
		padding-top: 20px;
		padding-bottom: 10px;
		height: 47px;
		p{
			margin-left: 15px;
		}
	}
	.calculator .calculator_pay-data .pay-select__icon {
		margin-left: 110px;
	}
	.calculator .calculator_continue {
		margin: auto;
		width: 222px;
		height: 41px;
	}
	.calculator .input_money input[type="number"] {
		font-size: 32.744px;
	}
	.calculator .input_money {
		font-size: 32.744px;
		margin-top: 0;
	}
	.calculator .calculator_pay-data .pay-select__body {
		left: -5%;
		top: 113%;
	}

	.about-us{
		.wrapper {
			display: flex;
			flex-direction: column;
		}
	}
	.start{
		height: 1056px;
		.wrapper {
			height: 1056px;
			display: flex;
			flex-wrap: wrap;
		}
		.start_top {
			display: none;
		}
		.adaptive{
			display: none;
		}
		.mobile{
			display: flex;
			flex-wrap: wrap;
			margin-top: 80px;
			.start_top{
				display: block;
				width: 328px;
				margin: 0;
				h2{
					margin-bottom: 32px;
				}
				button{
					font-size: 18px;
					font-weight: 500;
					line-height: 32px; 
				}
			}
			.start_block {
				width: 328px;
			}
			.start_block img {
				width: 328px;
			}
		}
	}
	.countires{
		height: 887px;
		background-size: 95%;
		background-position: 50% 65%;
		.wrapper{
			height: 887px;
			display: flex;
			flex-direction: column;
		}
		.coutries_lsit{
			order: 2;
			margin: auto 0 80px 0;
			width: auto;
			height: 56px;
		}
		.countrie_list-wrapper {
			flex-direction: row;
			width: 100%;
			justify-content: space-evenly;
			height: 56px;
		}
		.countrie_block {
			width: 116px;
			height: 40px;
			padding-left: 0;
			margin: auto 0;
		}
		h2{
			margin-top: 80px;
			height: 112px;
			br{
				display: none;
			}
		}
	}
	
	.faq {
		height: 1216px;
		.wrapper{
			height: 1216px;
		}
		.faq-grid {
			display: flex;
			flex-direction: column;
		}
		.text{
			display: flex;
			justify-content: space-between;
			margin-bottom: 64px;
		}
	}
	.ad {
		height: 1000px;
		.wrapper{
			display: flex;
			flex-direction: column;
		}
		h2{
			text-align: center;
		}
		p{
			text-align: center;
		}
		button{
			margin: 0 auto;
			font-size: 18px;
			font-weight: 500;
			line-height: 32px; 
		}
		img {
			display: none;
		}
		.wrapper{
			height: 100%;
			background: url('../images/ad.png') no-repeat 50% 100%;
			background-size: 70%;
		}
	}
	footer{
		height: 104px;
		.wrapper{
			height: 104px;
		}
		.links{
			margin-left: 30px;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	body h2 {
		font-size: 40px;
		line-height: 45px;
	}
	header{
		.header_select{
			display: none;
		}
	}
	.overlay-burger .burger .burger-language {
		display: block;
	}
	.launch-app {
		margin: auto 0 auto auto;
	}
	.banner{
		.under_wrapper{
			display: none;
		}
		.wrapper {
			flex-direction: column;
			height: 874px;
		}
		.banner_calculator .calculator {
			top: 494px;
		}
		.banner_text {
			margin-top: 20px;
		}
	}
	.about-us {
		.wrapper {
			justify-content: flex-start;
		}
		p {
			margin-top: 20px;
			font-size: 16px;
			width: auto;
		}
		h2{
			margin-bottom: 0;
		}
	}	
	.start {
		height: 1550px;
		.wrapper{
			height: 1550px;
		}
		.launch-app{
			display: none;
		}
		.launch-app-mobile{
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin: 32px auto 0 auto;
			width: 100%;
		}
		.mobile .start_top h2 {
			width: auto;
			text-align: center;
			margin: 0;
		}
		.mobile .start_top {
			width: auto;
			margin: 0 auto;
		}
		.mobile .start_block {
			margin: 0 auto;
		}
		h3 {
			margin: 16px 0;
		}
		.mobile .start_block img {
			margin-top: 32px;
		}
	}
	.countires {
		h2{
			margin-top: 32px;
			height: auto;
		}
		.countries_buttons{
			flex-direction: column;
			.launch-app{
				width: 100%;
				margin: 24px 0 16px 0;
			}
			.add-countrie{
				width: 100%;
				margin: 0;
			}
		}
		
		.coutries_lsit-mobile {
			display: flex;
			margin: auto 0 40px -30px;
			order: 2;
			width: 680px;
			height: 56px;
		.countrie_list-wrapper {
			flex-direction: row;
			width: 100%;
			justify-content: space-evenly;
			height: 56px;
		}
		.countrie_block {
			width: 116px;
			height: 40px;
			padding-left: 0;
			margin: auto 0;
			justify-content: center;
		}
		}
		.coutries_lsit {
			display: none;
		}
		.owl-stage{
			display: flex;
			flex-direction: row;
			margin: auto 0;
		}
		.owl-stage-outer{
			display: flex;
			width: 640px;
		}
	}
	
	.faq{
		height: 1340px;
		.text{
			flex-direction: column;
			margin-bottom: 16px;
		}
		.faq-grid{
			padding-top: 32px;
		}
		h2 {
			margin-bottom: 16px;
		}
		.wrapper{
			height: 1340px;
		}
	}
	.ad {
		height: 850px;
		img {
			bottom: -4942px;
			right: auto;
			width: 90%;
		}
	}

	footer {
		height: 224px;
		.wrapper{
			height: 224px;
			display: flex;
			flex-direction: column;
		}
		p{
			text-align: center;
			margin: 0;
		}
		.footer_name{
			margin: 33px 0 24px 0;
		}
		.links {
			justify-content: center;
			margin: 0 0 32px 0;
		}
		.socials p {
			flex-basis: 100%;
			margin: 0 0 16px 0;
		}
		.socials {
			flex-wrap: wrap;
			margin: 0 auto;
			justify-content: center;
		}
	}

	.overlay .popup{
		width: 288px;
		height: 328px;
		top: 30%;
		padding: 24px;
		h2{
			font-size: 24px;
			line-height: 32px;
		}
		p{
			font-size: 14px;
			line-height: 24px;
		}
		.close-popup {
			right: 2px;
		}
		button{
			width: 100%;
			height: 48px;
			font-size: 16px;
			line-height: 24px;
			margin-top: 75px;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
	body h2 {
		font-size: 24px;
		line-height: 32px; 
	}
	header{
		.header_logo a {
			display: flex;
		}
		.header_logo{
			border-right: none;
		}
		.header_logo img {
			width: 97px;
			height: 24px;
			margin: auto auto auto 0;
		}
		.header_wrapper {
			width: 90%;
		}

		button {
			width: 102px;
			height: 36px;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
		}
	}
	.banner{
		overflow: hidden;
		.under_wrapper{
			display: none;
		}
		.wrapper {
			flex-direction: column;
			height: 874px;
			width: 288px;
		}
		.banner_calculator .calculator {
			top: 494px;
		}
		.banner_text {
			margin-top: 20px;
		}
		.banner_text h1 {
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: 40px; 
		}
		.banner_text .launch-app {
			width: 137px;
			height: 48px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
		}
		.banner_text p {
			font-size: 14px;
			line-height: 20px; 
		}
		.clipboard-text img{
			width: 20px;
			height: 20px;
		}
		.banner_calculator .calculator {
			width: 288px;
			height: 362px;
			margin: 0 auto;
		}
		.course{
			font-size: 8.186px;
			font-weight: 400;
			line-height: 12.279px; 
		}
		.calculator_pay-data {
			width: 267px;
		}
		.calculator_pay-data .pay-select__icon {
			margin-left: 59px;
		}
		.calculator_pay-data .pay-select__body {
			left: -23%;
		}
		.calculator_continue {
			width: 267px;
		}

		.banner_calculator .calcuclator_under {
			.blue-big-circle{
				position: absolute;
				right: 20%;
				top: 10%;
			}
			.green-arrow {
				top: 20px;
				left: 153px;
			}
			.blue-arrow {
				top: 245px;
				left: -78px;
			}
		}

		.banner_calculator .calculator_top  {
			.coin1{
				top: 10px;
				left: 114px;
			}
			.coin2{
				width: 91px;
				height: 82px;
				top: 10px;
				left: -12px;
			}
			.coin3{
				top: 455px;
				left: 191px;
			}
		}
	}

	.about-us{
		p {
			font-size: 14px;
			line-height: 24px;
			width: auto;
		}
	}

	.start{
		.mobile {
			margin-top: 32px;
			.start_top {
				margin: 0;
				h2{
					text-align: start;
				}
			}
			.start_block {
				width: 100%;
				img{
					width: 100%;
				}
			}
		}
		.start_number {
			height: 28px;
			width: 69px;
			border-radius: 24px;
			margin: 24px 0;
			p{
				font-size: 14px;
				line-height: 20px
			}
		}
		h3{
			font-size: 20px;
			line-height: 32px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}

	.faq  {
		height: 1360px;
		.text p{
			font-size: 14px;
			line-height: 20px;
		}
		.qacontent {
			font-size: 14px;
			line-height: 20px;
		}
		.question p {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.countires {
		overflow: hidden;
	}

	footer .socials {
		width: auto;
	}
	.ad {
		p{
			font-size: 14px;
			line-height: 20px;
		}
		button {
			font-size: 16px;
			line-height: 24px;
		}
		img {
			display: none;
		}
		.wrapper{
			height: 100%;
			background: url('../images/ad.png') no-repeat 100% 100%;
			background-size: contain;
		}
	}
	.overlay-burger .burger {
		width: 192px;

		.burger_menu-closer {
			right: 5%;
		}

		.burger_navigation ul {
			padding: 84px 0 24px 24px;
		}

		.burger-language {
			padding: 0 0 0 24px;
		}
	
	}
}