
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/TTFirsNeue-Regular.eot');
	src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
			url('../fonts/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
			url('../fonts/TTFirsNeue-Regular.woff') format('woff'),
			url('../fonts/TTFirsNeue-Regular.ttf') format('truetype');
	
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/TTFirsNeue-DemiBold.eot');
	src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'),
			url('../fonts/TTFirsNeue-DemiBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2'),
			url('../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
			url('../fonts/TTFirsNeue-DemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/TTFirsNeue-Medium.eot');
	src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
			url('../fonts/TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/TTFirsNeue-Medium.woff2') format('woff2'),
			url('../fonts/TTFirsNeue-Medium.woff') format('woff'),
			url('../fonts/TTFirsNeue-Medium.ttf') format('truetype');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-cyrillic_latin-regular.eot'); 
  src: url('../fonts/inter-v12-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'), 
       url('../fonts/inter-v12-cyrillic_latin-regular.woff') format('woff'), 
       url('../fonts/inter-v12-cyrillic_latin-regular.ttf') format('truetype'),
       url('../fonts/inter-v12-cyrillic_latin-regular.svg#Inter') format('svg'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-cyrillic_latin-500.eot'); 
  src: url('../fonts/inter-v12-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'), 
       url('../fonts/inter-v12-cyrillic_latin-500.woff') format('woff'), 
       url('../fonts/inter-v12-cyrillic_latin-500.ttf') format('truetype'), 
       url('../fonts/inter-v12-cyrillic_latin-500.svg#Inter') format('svg'); 
}
@font-face {
  font-display: swap; 
	font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-cyrillic_latin-700.eot'); 
  src: url('../fonts/inter-v12-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2'), 
       url('../fonts/inter-v12-cyrillic_latin-700.woff') format('woff'), 
       url('../fonts/inter-v12-cyrillic_latin-700.ttf') format('truetype'), 
       url('../fonts/inter-v12-cyrillic_latin-700.svg#Inter') format('svg'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v12-cyrillic_latin-800.eot'); 
  src: url('../fonts/inter-v12-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/inter-v12-cyrillic_latin-800.woff2') format('woff2'), 
       url('../fonts/inter-v12-cyrillic_latin-800.woff') format('woff'), 
       url('../fonts/inter-v12-cyrillic_latin-800.ttf') format('truetype'), 
       url('../fonts/inter-v12-cyrillic_latin-800.svg#Inter') format('svg'); 
}





